@media screen and (max-width: 740px){

    .blockchainify__top{
        width: 100%;
    }
    .blockchainify__top h1{
        font-weight: 500;
        font-size: 30px;
        line-height: 22px;
    }

    .blockchainify__top p { 
        width: 100%;
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 30px;

        /* or 167% */
        color: #000000;
    }
    .blockchainify--img{
        top: 15px;
        left: -160px;
        height: 315.89px;
        
    }
    .blockchainify--img1{
        top: -35px;
    left: -217px;
        width: 826.9px;
        height: 522px;
        
    }
    .blockchainify--img2 {
        top: 206px;
        left: 234px;
        width: 55.01px;
        height: 51.06px;    
    }

    /* Our Orientation */
    .aboutus__left{
        margin-top: 80px;
    }

    .aboutus{
        height:100%;
        padding-bottom: 50px;
    }
    .aboutus__left-wrapper{
      text-align: center;
    }

    .aboutus__left-wrapper h1{
        font-family: Poppins;
        font-style: normal;
        font-weight: 500;
        font-size: 30px;
        line-height: 60px;
        margin-top: -40px;
    }
    .aboutus__left-wrapper p{
        font-size: 18px;
        line-height: 30px;
    }
    .aboutus__right{
        padding-left: 0;
        padding-bottom: 62px;
     }

    .aboutus__right-2{
        margin-top: 0;
    }
    .aboutus__card{
        height: 409px;
        width: 354px;
        margin: 15px auto ;
    }
    .aboutus__card-mt{
        margin-bottom: 30px;
    }
}